body {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #1F2A47; 
    margin: 0;
    padding: 0;
    text-align: center; 
    font-size:larger; 
}

h1 {
    color: #4CAF50; 
    font-size: 60px;
} 

h2 {
    color: #4CAF50; 
    font-size: 35px;
}

h3 {
    color: #4CAF50; 
    font-size: 30px;
}

h4 {
    color: #ffffff; 
    font-size: 20px;
}
    

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #2C3E50;
    padding: 15px;
}

nav a {
    margin: 0 10px;
    font-size: 25px; 
}

section {
    margin: 20px auto;
    padding: 30px; 
    max-width: 90%; 
    background-color: #1F2A47;
    border: 3px solid #4CAF50; 
    border-radius: 5px;
    line-height: 1.8; 
}

video {
    display: block;
    margin: 15px auto; 
    max-width: 90%; 
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    line-height: 1.5; 
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #2C3E50;
    color: #ffffff;
    padding: 10px;
    margin-top: 20px;
}
